.boton1{
    display:block;
    height:25px;
    width:100px;
    background:#ccc;
    border:1px #333 solid;
    cursor:pointer;
    margin:15px;
    text-align:center;
    padding:5px;
    }
.imagen{
    background:url(http://cdn.iconfinder.net/data/icons/Siena/128/label_new%20red.png) no-repeat;
    display:block;
    width:128px;
    height:128px;
    margin:15px;
    }
.boton1:hover + .imagen{
    background:url(http://cdn.iconfinder.net/data/icons/holloweenavatars/PNG/Dracula.png) no-repeat;
}